<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <application
        android:name=".JoxTvApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.JoxTv"
        android:banner="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.player.PlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.home.ContentListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.home.CategoryGridActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.home.DetailActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

    </application>
</manifest>
